/* Sass Document */
a[href] input[type='submit'] input[type='image'] label[for] select button .pointer {
  cursor: pointer; }

body {
  background-color: #FCFFEE;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

hr {
  border-color: #757575; }

/* copy */
.headline {
  color: #FCFFEE;
  font-family: "Nunito", sans-serif;
  font-size: 2em;
  padding: 8%; }

.text-style {
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  color: #757575;
  font-family: "Nunito", sans-serif;
  font-size: 18px; }

.wrapper {
  margin: 0px 5%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white; }

.copy-style {
  margin-top: 25px;
  margin-bottom: 25px; }
  .copy-style .icon-center {
    width: 100%;
    margin: 0;
    text-align: center; }
    .copy-style .icon-center .icon-lg {
      width: 100px; }
  .copy-style .headline-small {
    color: #FF4F00;
    font-family: "Nunito", sans-serif;
    font-size: 3em; }
  .copy-style .circles-style {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .copy-style .circles-style {
        justify-content: center;
        flex-direction: column; } }
    .copy-style .circles-style .icon {
      margin: 15px auto;
      padding-left: 45px;
      padding-right: 45px; }
      .copy-style .circles-style .icon .icon-desc {
        margin-top: 10px;
        font-family: "Nunito", sans-serif;
        font-size: 15px; }
      .copy-style .circles-style .icon .icon-title {
        font-family: "Nunito", sans-serif;
        font-size: 24px; }
      .copy-style .circles-style .icon .round {
        align-self: center;
        width: 170px;
        height: 170px;
        border: solid 1px #0076a3;
        border-radius: 50%;
        margin: auto;
        color: #0076a3;
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        position: relative;
        margin-bottom: 10px;
        background-color: white; }
        .copy-style .circles-style .icon .round .order-img {
          width: 154.54545px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute; }
        .copy-style .circles-style .icon .round .how-to-icons {
          width: 136px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute; }
  .copy-style .headline-tiny {
    color: #757575;
    font-family: "Nunito", sans-serif;
    font-size: 20pt;
    margin: 3%; }

.container-content {
  margin-top: 35px;
  height: 295px; }
  .container-content .row-img {
    width: 100%; }
  .container-content .row-text-cont {
    height: 100%; }
    .container-content .row-text-cont .container-content-text {
      margin-top: 60px; }
      .container-content .row-text-cont .container-content-text display:table-cell {
        padding-top: 0px; }
        @media screen and (max-width: 576px) {
          .container-content .row-text-cont .container-content-text display:table-cell {
            margin-top: 0px;
            padding-top: 0px; } }

.cook-info-cont {
  margin: auto;
  height: 500px;
  width: 75%; }
  .cook-info-cont .cook-info {
    height: 100%;
    padding: 25px; }
    .cook-info-cont .cook-info .cook-info-text {
      margin-right: auto;
      margin-left: auto;
      color: #757575;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      text-align: left; }
    .cook-info-cont .cook-info .apply-cont {
      width: 100%; }
      .cook-info-cont .cook-info .apply-cont .apply-btn {
        font-family: "Nunito", sans-serif;
        border-radius: 2px;
        font-size: 18px;
        background-color: #FF4F00;
        border: none;
        color: #FCFFEE;
        float: left;
        width: 120px;
        margin: 0 auto 0 auto; }
  .cook-info-cont .cook-img-cont {
    height: 100%;
    position: relative; }
    .cook-info-cont .cook-img-cont .cook-img {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }

.footer-style {
  background-color: #ff9566;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Nunito", sans-serif; }
  .footer-style .icon-small {
    width: 30px; }
  .footer-style .footer-icon-cont {
    margin-bottom: 15px; }
    .footer-style .footer-icon-cont .social-icons {
      width: 170px;
      margin: 0 auto 0 auto; }
      .footer-style .footer-icon-cont .social-icons .icon-lg {
        width: 48px;
        float: left;
        margin: 3px;
        background-color: white;
        border-radius: 50%; }

.modal-dialog {
  width: 350px;
  height: 100%;
  margin-top: 0; }
  .modal-dialog .modal-content {
    font-family: "Nunito", sans-serif;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFFEE;
    padding: 30px; }
    .modal-dialog .modal-content .modal-header {
      border-bottom: none; }
      .modal-dialog .modal-content .modal-header img {
        max-height: 200px;
        fill: #464f56; }
    .modal-dialog .modal-content .modal-footer {
      border-top: none;
      padding-top: 0;
      text-align: center;
      padding-bottom: 0px; }
      .modal-dialog .modal-content .modal-footer .btn-cont {
        width: 100%;
        margin-bottom: 10px; }
        .modal-dialog .modal-content .modal-footer .btn-cont .login-btn {
          border-radius: 2px;
          font-size: 18px;
          background-color: #FF4F00;
          border: none;
          color: #FCFFEE;
          float: left;
          width: 100px; }
        .modal-dialog .modal-content .modal-footer .btn-cont .cancel-btn {
          border-radius: 2px;
          font-size: 18px;
          background-color: white;
          border: none;
          color: #FF4F00;
          width: 100px;
          border: 1px solid #FF4F00;
          margin-left: 57px; }
      .modal-dialog .modal-content .modal-footer span {
        width: 100%;
        float: clear;
        margin-top: 10px; }
    .modal-dialog .modal-content .modal-body h5 {
      width: 100%;
      text-align: center;
        text-align-border-bottom: 1px solid #000;
        text-align-line-height: 0.1em;
        text-align-margin: 20px; }

.google-btn {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 8px;
  padding-right: 8px;
  height: 40px;
  border-radius: 2px;
  display: block;
  margin: auto;
  margin-bottom: 15px; }
  .google-btn .google-img {
    max-width: 18px;
    margin-right: 15px; }
  .google-btn span {
    vertical-align: middle; }

.header {
  height: 400px;
  margin-top: 50px;
  overflow: hidden;
  padding: 0px;
  width: 100%;
  position: relative;
  font-family: "Nunito", sans-serif; }
  @media screen and (max-width: 576px) {
    .header {
      height: 200px; } }
  .header .headerImg {
    top: -75px;
    width: 100%;
    z-index: -1;
    position: absolute; }
    @media screen and (max-width: 576px) {
      .header .headerImg {
        top: 0;
        height: 100%; } }
  .header .overlayOpacity {
    position: absolute;
    background-color: rgba(10, 10, 10, 0.15);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .header .headerCont {
    position: absolute;
    z-index: 2;
    color: #FCFFEE;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* Sass Document */
.navbar {
  margin-bottom: 0px; }

.navbar-default {
  height: 50px;
  background-color: #FF4F00;
  border: none;
  border-radius: 0px;
  color: #FCFFEE;
  font-family: "Nunito", sans-serif; }
  .navbar-default .navbar-header {
    color: #FCFFEE;
    font-family: "Nunito", sans-serif; }
  .navbar-default .navbar-brand {
    color: #FCFFEE;
    padding: 4px;
    margin-left: 0px; }
    .navbar-default .navbar-brand .img-logo {
      width: 45px;
      padding-bottom: 7px;
      padding-right: 5px; }
  .navbar-default .navbar-nav .nav-li {
    color: #FCFFEE;
    font-family: "Nunito", sans-serif; }
  .navbar-default .navbar-nav .checkOut {
    color: #FCFFEE;
    font-size: 150%; }
  .navbar-default .navbar-nav .dropdown-toggle {
    padding-bottom: 5px;
    padding-top: 5px; }
  .navbar-default .navbar-nav .img-logo {
    width: 40px; }
  .navbar-default .navbar-nav .clip-circle {
    clip-path: circle(20px at center); }
