/* Sass Document */
body {
  background-color: #FCFFEE; }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  height: 50px;
  background-color: #FF4F00;
  border: none;
  border-radius: 0px;
  color: #FCFFEE;
  font-family: "Nunito", sans-serif; }
  .navbar-default .navbar-header {
    color: #FCFFEE;
    font-family: "Nunito", sans-serif; }
  .navbar-default .navbar-brand {
    color: #FCFFEE;
    padding: 4px;
    margin-left: 0px; }
    .navbar-default .navbar-brand .img-logo {
      width: 45px;
      padding-bottom: 7px;
      padding-right: 5px; }
  .navbar-default .navbar-nav .nav-li {
    color: #FCFFEE;
    font-family: "Nunito", sans-serif; }
  .navbar-default .navbar-nav .checkOut {
    color: #FCFFEE;
    font-size: 150%; }
  .navbar-default .navbar-nav .dropdown-toggle {
    padding-bottom: 5px;
    padding-top: 5px; }
  .navbar-default .navbar-nav .img-logo {
    width: 40px; }
  .navbar-default .navbar-nav .clip-circle {
    clip-path: circle(20px at center); }

.header {
  height: 400px;
  margin-top: 50px;
  overflow: hidden;
  padding: 0px;
  width: 100%;
  position: relative;
  font-family: "Nunito", sans-serif; }
  .header .headerImg {
    top: -75px;
    width: 100%;
    z-index: -1;
    position: absolute; }
  .header .overlayOpacity {
    position: absolute;
    background-color: rgba(10, 10, 10, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .header .headerCont {
    position: absolute;
    z-index: 2;
    color: #FCFFEE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navbar-form {
  border-top: 0;
  border-bottom: 0; }
  .navbar-form .form-control {
    height: 40px;
    border-radius: 1px;
    font-family: "Nunito", sans-serif, FontAwesome; }
  .navbar-form .cuisine-form {
    width: 100%; }
  .navbar-form .address-form {
    width: 100%; }
  .navbar-form .btn-default {
    font-family: "Nunito", sans-serif, FontAwesome;
    color: #FCFFEE;
    background-color: #FF4F00;
    border-color: #FF4F00; }
  .navbar-form .search-btn {
    border-radius: 1px;
    height: 40px; }

.cook-header {
  height: 325px;
  margin-top: 50px;
  overflow: hidden;
  padding: 0px;
  width: 100%;
  position: relative;
  font-family: "Nunito", sans-serif; }
  .cook-header .cook-overlayOpacity {
    position: absolute;
    background-color: rgba(10, 10, 10, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .cook-header .cook-headerImg {
    top: -75%;
    width: 100%;
    z-index: -1;
    position: absolute; }
  .cook-header .cook-headerCont {
    position: absolute;
    z-index: 1000;
    color: #FCFFEE;
    height: 225px;
    width: 600px;
    left: 50px;
    margin-top: 120px;
    bottom: 0; }
  .cook-header .cook-headerRow {
    height: 100%; }
    .cook-header .cook-headerRow .cook-profImg {
      height: 100%;
      margin-top: 20px; }
    .cook-header .cook-headerRow .cook-info {
      height: 100%; }

#checkoutNav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #cc3f00;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Nunito", sans-serif;
  color: #FCFFEE; }
  #checkoutNav .emptycart-cont {
    margin-top: 60px; }
  #checkoutNav .fullcart-cont hr {
    border: none;
    height: 3px;
    margin-left: 25px;
    margin-right: 25px;
    color: #FCFFEE;
    background-color: #FCFFEE; }
  #checkoutNav .fullcart-cont .ordereditems-cart {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    height: 35px; }
    #checkoutNav .fullcart-cont .ordereditems-cart .removeItem {
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
      font-size: 125%;
      margin-top: 2px; }
      #checkoutNav .fullcart-cont .ordereditems-cart .removeItem .fa-minus-circle {
        vertical-align: middle; }
    #checkoutNav .fullcart-cont .ordereditems-cart #quantityOrd {
      font-size: 150%;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px; }
      #checkoutNav .fullcart-cont .ordereditems-cart #quantityOrd p {
        margin: 0px; }
    #checkoutNav .fullcart-cont .ordereditems-cart #itemName {
      font-size: 150%;
      padding-left: 0px;
      padding-right: 0px; }
    #checkoutNav .fullcart-cont .ordereditems-cart #itemCost {
      font-size: 150%;
      padding-left: 0px;
      padding-right: 0px; }
  #checkoutNav .fullcart-cont .orderBtn-cont {
    margin-top: 50px; }
    #checkoutNav .fullcart-cont .orderBtn-cont .btn-default {
      font-family: "Nunito", sans-serif, FontAwesome;
      color: #FCFFEE;
      background-color: #FF4F00;
      border-color: #FF4F00;
      width: 85%; }
    #checkoutNav .fullcart-cont .orderBtn-cont .checkout-btn {
      border-radius: 1px;
      height: 40px; }

.localFav-cont {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 10px; }

.well {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-left: 40px;
  padding-right: 40px; }
  .well .carousel-control {
    background-image: none;
    width: 40px;
    top: 50%;
    bottom: 50%;
    color: #FF4F00; }
  .well .localFav-card {
    width: 100%;
    height: 200px;
    border: 2px solid gray;
    position: relative;
    border-radius: 4px; }
    .well .localFav-card .localFav-cardBottom {
      height: 40%;
      width: 100%;
      background-color: white;
      bottom: 0;
      position: absolute; }
      .well .localFav-card .localFav-cardBottom .localFav-cardStarRating {
        height: 50%;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 125%; }
      .well .localFav-card .localFav-cardBottom .localFav-cardInfo {
        height: 50%;
        padding-left: 10px;
        text-align: left;
        padding-right: 10px; }
    .well .localFav-card .localFav-cardTop {
      position: relative;
      height: 60%; }
      .well .localFav-card .localFav-cardTop .localFav-cardImg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0; }
      .well .localFav-card .localFav-cardTop .localFav-cardItem {
        position: absolute;
        bottom: 0;
        color: #FCFFEE;
        font-family: "Nunito", sans-serif;
        z-index: 1000;
        margin: 10px; }

.recentOrders {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px; }
  .recentOrders .recentOrders-title {
    margin-bottom: 10px; }
  .recentOrders .recentOrders-cont {
    width: 100%;
    height: 200px; }
    .recentOrders .recentOrders-cont .noPrevOrders {
      height: 100%;
      vertical-align: middle; }
    .recentOrders .recentOrders-cont .prevOrders {
      height: 100%;
      width: 100%;
      padding-left: 150px;
      padding-right: 150px;
      margin: 0; }
      .recentOrders .recentOrders-cont .prevOrders .prevOrder-cont {
        height: 100%;
        padding-left: 40px;
        padding-right: 40px; }
        .recentOrders .recentOrders-cont .prevOrders .prevOrder-cont .prevOrder-Card {
          height: 100%;
          width: 100%;
          background-color: #a59f9f;
          color: #FCFFEE;
          position: relative;
          padding: 10px; }
          .recentOrders .recentOrders-cont .prevOrders .prevOrder-cont .prevOrder-Card .prevOrder-CardName {
            position: absolute;
            margin-top: 10px; }
          .recentOrders .recentOrders-cont .prevOrders .prevOrder-cont .prevOrder-Card .prevOrder-CardItem {
            margin-top: 10px;
            position: absolute;
            width: 100%; }
          .recentOrders .recentOrders-cont .prevOrders .prevOrder-cont .prevOrder-Card hr {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            margin: 10px;
            border: none;
            height: 1px;
            color: white;
            background-color: white; }

.menuItem {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 50px;
  font-family: "Nunito", sans-serif;
  color: #FF4F00; }
  .menuItem .menuItem-cont {
    height: 100%; }
    .menuItem .menuItem-cont .menuItem-imgCont {
      height: 100%;
      position: relative; }
      .menuItem .menuItem-cont .menuItem-imgCont .menuItem-img {
        max-height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .menuItem .menuItem-cont .menuItem-infoCont {
      height: 100%; }
      .menuItem .menuItem-cont .menuItem-infoCont .menuItem-info {
        background-color: white;
        height: 75%;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        border: 2px solid black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .menuItem .menuItem-cont .menuItem-infoCont .menuItem-info .btn {
          float: right;
          border-radius: 3px; }

.modal-dialog {
  width: 400px;
  height: 100%;
  margin-top: 0; }
  .modal-dialog .modal-content {
    font-family: "Nunito", sans-serif;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .modal-dialog .modal-content .modal-header {
      border-bottom: none;
      text-align: center; }
    .modal-dialog .modal-content .modal-body {
      padding-top: 0px; }
      .modal-dialog .modal-content .modal-body .qty-cont {
        display: inline; }
        .modal-dialog .modal-content .modal-body .qty-cont h5 {
          float: left; }
        .modal-dialog .modal-content .modal-body .qty-cont .dropdown-menu {
          min-width: 25px;
          right: 50%;
          text-align: center; }
    .modal-dialog .modal-content .modal-footer {
      border-top: none;
      text-align: center;
      bottom: 0; }
      .modal-dialog .modal-content .modal-footer .btn-primary {
        background-color: #FF4F00;
        border: none; }
      .modal-dialog .modal-content .modal-footer .submit-btn {
        width: 100px; }
      .modal-dialog .modal-content .modal-footer .cancel-btn {
        width: 100px; }
