/* Sass Document */

@import components/all



a[href] input[type='submit'] input[type='image'] label[for] select button .pointer
	cursor: pointer


body 
	background-color: $white
	overflow-x: hidden
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none           
	
.parallax 
	overflow-x: hidden
	overflow-y: auto
	background-image: url(/links/home.jpg)
	min-height: 80% 
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover




/* copy */
.headline 
	@include text-primary ($white, $font-stack)
	font-size: 6em
	padding: 8%

.text-style 
	@include margin-center
	width: 85%
	@include text-primary ($grey, $font-stack)

.copy-style 
	margin: 5% auto
	
	.icon-center
		width: 50px
		margin: 15px auto 
	
		.icon-lg
			width: 48px

	.headline-small 
		@include text-primary ($red, $font-stack)
		font-size: 3em
		

	.circles-style
		display: flex
		justify-content: center
		@media screen and (max-width: $break-md)
			justify-content: center
			flex-direction: column
		
		.round 
			align-self: center
			width: $circle-width
			height: $circle-width
			border: solid 2px $blue
			border-radius: 50%
			padding-top: $circle-width / 7
			margin: 15px
			@include text-primary ($blue, $font-stack)
			font-weight: bold
	
			.how-to-icons
				width: $circle-width / 2
				margin: auto
			

	.headline-tiny 
		@include text-primary ($grey, $font-stack)
		font-size: 20pt
		margin: 3%
		
	.social-icons 
		width: 170px
		margin: 5% auto 0 auto
			
		.icon-lg
			width: 48px
			float: left
			margin: 3px

hr 
	border-color: $grey