/* Sass Document */

body
	background-color: $white

#checkoutNav
	height: 100%
	width: 350px
	position: fixed
	z-index: 1000
	top: 0
	right: 0
	background-color: #cc3f00
	overflow-x: hidden
	transition: 0.5s
	padding-top: 60px
	font-family: $font-stack
	color: $white
