
body
	background-color: $white

// user logged in header
.header
	height: 350px
	margin-top: 50px
	overflow: hidden
	padding: 0px
	width: 100%
	position: relative
	font-family: $font-stack
	.headerImg
		top: -75px
		width: 100%
		z-index: -1
		position: absolute
	.overlayOpacity
		position: absolute
		background-color: rgba(10,10,10, 0.25)
		top: 0
		bottom: 0
		left: 0
		right: 0
	.headerCont
		position: absolute
		z-index: 1
		color: $white
		top: 54%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
.navbar-form
	border-top: 0
	border-bottom: 0
	.form-control
		height: 40px
		border-radius: 1px
		font-family: $font-stack, FontAwesome
	.cuisine-form
		width : 100%
	.address-form
		width: 100%

	.btn-default
		font-family: $font-stack, FontAwesome
		color: $white
		background-color: #E75936
		border-color: #E75936
	.search-btn
		border-radius: 1px
		height: 40px
