/* Sass Document */

.fullcart-cont
		position: absolute
		z-index: 1
		top: 50px
		right: -500px
		height: 100%
		width: 500px
		background-color: $white
		hr
			border: none
			height: 3px
			margin-left: 25px
			margin-right: 25px
			color: $white
			background-color: $white
		.clickable
			cursor: pointer
		.ordereditems-cart
			margin-left: 5px
			margin-right: 5px
			vertical-align: middle
			height: 35px
			.removeItem
				text-align: center
				padding-left: 0px
				padding-right: 0px
				font-size: 125%
				margin-top: 2px
				i
					vertical-align: middle
			#quantityOrd
				font-size: 150%
				text-align: center
				padding-left: 0px
				padding-right: 0px
				p
					margin: 0px
			#itemName
				font-size: 150%
				padding-left: 0px
				padding-right: 0px
			#itemCost
				font-size: 150%
				padding-left: 0px
				padding-right: 0px

		.orderBtn-cont
			margin-top: 50px
			.btn-default
				font-family: $font-stack, FontAwesome
				color: $white
				background-color: $red
				border-color: $red
				width: 85%
			.checkout-btn
				border-radius: 1px
				height: 40px
				
.emptycart-cont
		margin-top: 60px

.sidebar-open
		right: 0

.sidebar-closed
		right: -500px